a{
    text-decoration: none;
}

a:visited{
    color: #d2d4d6;
}

a:hover{
    text-shadow: 0 0 2px #d2d4d6;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #202b23;
    
    .logo{
        text-align: center;
        align-self: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: x-large;
        font-weight: bold;
        margin-left: 20px;
        color: #d2d4d6;
    }

    .menu-items{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        flex-direction: row;
        margin-right: 25px;

        li{
            list-style-type: none;
            margin: 0 10px 0 0;
            color: #d2d4d6;
        }
    }
}